[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
pydantic-settings = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
alembic = "*"
pandas = "*"
pymupdf = "*"
matplotlib = "*"
ruff = "*"
tqdm = "*"
ipykernel = "*"
selenium = "*"

[requires]
python_version = "3.10"
